/* Declare Global Variables */
:root {
	--bg-green: rgb(157, 192, 158);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: sans-serif;
	background-color: var(--bg-green);
	background-image: url("../img/may_svg.svg");
	background-size: 50px 50px;
	background-repeat: repeat;
	background-position: top left;
}

/* Book */
.book {
	position: relative;
	width: 45vw;
	height: 70vw;
	margin-top: 5vh;
	transition: transform 0.5s;
}

.paper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	perspective: 1500px;
}

.ctrl-center {
	margin-top: 5vh;
	position: relative;
}

.front,
.back {
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: left;
	transition: transform 0.5s;
}

.front {
	z-index: 1;
	backface-visibility: hidden;
	border-left: 3px solid var(--bg-green);
}

.back {
	z-index: 0;
}

.front-content,
.back-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back-content {
	transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
	transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 10px;
	transition: transform 0.5s;
}

button:focus {
	outline: none;
}

button:hover i {
	color: #636363;
}

i {
	font-size: 50px;
	color: gray;
}

/*Book Cover */
#f1,
#b1,
#f3,
#b3 {
	background-color: rgb(46, 88, 73);
}
/* Paper stack order */
#p1 {
	z-index: 3;
}

#p2 {
	z-index: 2;
}

#p3 {
	z-index: 1;
}

.title {
            font-family: 'Tangerine', cursive;
            font-size: 6rem;
            font-weight: 700;
            text-align: center;
            color: #c5a028;
            letter-spacing: 0.1em;
            text-transform: none;
            margin: 20px 0;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }
